<section class="property-binding">

  <article>
    <h3>Interpolation/ Interpolação</h3>
    <p>String rendereizadad com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <P>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</P>
    <p>Curso Angular e gosto de curtir: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bing-src="urlImagem">
  </article>



</section>
